h1 {
    font-family: 'Secular One';
    color: #fff;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.luffy{
    background-image: url(src/luffyback.png);
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: -115% 26%;
}
.zoro{
    background-image: url(src/zoroback.jpg);
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: -5% 70%;
}
.nami{
    background-image: url(src/namiback.jpg);
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: right 50%;
}
.sanji{
    background-image: url(src/sanjiback.png);
    background-repeat: no-repeat;
    background-size: 92%;
    background-position: 120% 20%;
}

.container {
    display: flex;
    margin-left: auto;
    height: 100vh;
}

.container .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9.3%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    height: 100vh;
    z-index: 2;
    padding-left: 7%;
    box-sizing: border-box;
    margin-right: auto;
}

.content img {
    max-height: 19%;
    max-width: 100%;
    object-fit: contain;
    margin-top: 290px;
    align-self: center;
}

.content h1 {
    margin-top: -2%;
    font-size: 48px;
}

.content p {
    margin-top: -2%;
    color: #fff;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #0c0404;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.circle img {
    background-color: #0c0404;
    width: auto;
    max-height: 80%;
}

.circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #0c0404;
    border-radius: 100%;
    z-index: -1;
    transition: transform 0.2s;
}

.circle:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px #ffffff;
}

.sombra {
    width: 90%;
    height: 100%;
    position: absolute;
    background: linear-gradient(128deg, black 38.4%,rgba(0, 0, 0, 0) 55%, transparent);
    z-index: 1;
    margin: 0;
}

@media screen and (max-width: 1440px) {
    .luffy{
        background-size: 130%;
        background-position: 5% 30%;
    }

    .zoro{
        background-size: 130%;
        background-position: 70% 50%;
    }
    
    .nami{
        background-size: 130%;
        background-position: 50% 50%;
    }
    
    .sanji{
        background-size: 112%;
        background-position: 0 15%;
    }
    
    .container .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 9%;
        background-color: rgba(0, 0, 0, 0.5); 
        color: #fff;
        height: 100vh;
    }
    
    .circle {
        width: 80px;
        height: 80px;
        background-color: #0c0404;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s, box-shadow 0.2s;
        position: relative;
    }
}

@media screen and (max-width: 1024px){
    .luffy{
        background-size: 152%;
        background-position: 25% 28%;
    }
    
    .container .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 9%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        height: 100vh;
    }
    
    .circle {
        width: 70px;
        height: 70px;
        background-color: #0c0404;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px 0;
        display: flex; 
        justify-content: center;
        align-items: center;
        transition: transform 0.2s, box-shadow 0.2s;
        position: relative;
    }

    .circle:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px #ffffff;
    }

    .content img {
        max-height: 14%;
        max-width: 100%;
        object-fit: contain;
        margin-top: 290px;
        align-self: center;
    }
    
    .content h1 {
        margin-top: -2%;
        font-size: 32px;
    }
    
    .content p {
        margin-top: -2%;
        font-size: 0.8rem;
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .luffy {
      background-size: 150vh;
      background-position: center -15vh;
    }
    
    .zoro {
        background-size: 150vh;
        background-position: -20rem -30vh;
    }
    
    .nami {
        background-size: 150vh;
        background-position: -25rem -40vh;
    }

    .sanji {
        background-size: 90vh;
        background-position: center -2vh;
    }

    .container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    
    .container .sidebar {
        display: flexbox;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 9.3%;
        z-index: 2;
        margin-top: -19vh;
        box-sizing: border-box;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        z-index: 2;
        padding-left: 7%;
        padding-right: 7%;
        box-sizing: border-box;
        margin-right: auto;
    }

    .content img {
      max-height: 9%;
      max-width: 100%;
      object-fit: contain;
      margin-top: 370px;
      align-self: center;
    }
  
    .content h1 {
      margin-top: -20%;
      font-size: 32px;
    }
  
    .content p {
      margin-top: 0%;
      /* font-size: 0.9rem; */
      color: #fff;
    }

    .circle {
        width: 15vw;
        height: 15vw;
        background-color: #0c0404;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s, box-shadow 0.2s; 
        position: relative;
    }

    .circle:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px #ffffff;
    }

    .sombra {
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(0deg, black 50%, rgba(0, 0, 0, 0) 70%, transparent);
      z-index: 1;
      margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .zoro {
        background-size: 150vh;
        background-position: -45rem -30vh;
    }

    .nami {
        background-size: 150vh;
        background-position: -40rem -40vh;
    }
}